dotenv
faiss-cpu
jq
langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langgraph
numexpr
numpy
openai
pydantic
python-dotenv
streamlit
volcenginesdkarkruntime
xmltodict